@page
@model AboutModel
@{
    ViewData["Title"] = "About.";
}
<h1 class="readex-pro-title">@ViewData["Title"]</h1>

<p>I'm a Software Developer with professional experience in C# and .NET focused on back-end development.</p>

<p class="readex-pro-education">Experience:</p>

<div class="container-resize">
    <ul>
        <li class="li-mb">
            Software Development Engineer I
            <ul>
                <li class="li-mb resize-item">Resolving back-end vulnerabilities and bugs in C# and .NET.</li>
                <li class="li-mb">Optimizing database structures, including table creation and stored procedures to support CRUD operations.</li>
                <li class="li-mb">Developing and optimizing APIs to enhance performance and enable previously unavailable functionality.</li>
            </ul>
        </li>

    </ul>
</div>

<p class="about-text about-text-exp">Fiserv</p>
<p class="about-text about-text-exp">Feb 2024 -  Present</p>

    <div class="container-resize">
        <ul>
            <li class="li-mb">
                Software Development Engineer
                <ul>
                    <li class="li-mb resize-item">Working with FinTech client Fiserv as a Software Development Engineer I, on Enterprise Content Management products.</li>
                <li class="li-mb"> Contributing to development of Infinite's internal company applications using PowerApps in an Agile environment.</li>
                </ul>
            </li>

        </ul>
    </div>

<p class="about-text about-text-exp">Infinite Computer Solutions</p>
<p class="about-text about-text-exp">Feb 2024 -  Present</p>



<p class="readex-pro-education">Education:</p>
<ul>
    <li class="li-mb">Certified Software Developer</li>
</ul>

<p class="about-text about-text-exp">'Universidad Cenfotec'</p>
<p class="about-text about-text-exp">2023-2024</p>


