@page
@model AboutModel
@{
    ViewData["Title"] = "About.";
}
<h1 class="readex-pro-title">@ViewData["Title"]</h1>

<p>I'm a Software Developer with professional experiencie in .C and .NET focused on back-end development and maintenance'</p>

<p class="readex-pro-education">Education:</p>
<ul>
    <li class="li-mb">Certified Software Developer</li>
</ul>

    <p class="about-text">Universidad Cenfotec</p>
    <p class="about-text">2023-2024</p>


