@page
@model ProjectsModel
@{
    ViewData["Title"] = "Projects";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
    <ul>    
    <li>
        <a class="nav-link text-dark" asp-area="" asp-page="/Timer">Timer</a>
    </li>
    </ul>

